.display-affirmation{
	background: url('./pic-frame.jpg') no-repeat;
	margin: auto;
	/*//background: linear-gradient(0deg, rgba(34,193,195,1) 19%, rgba(243,45,253,1) 60%);*/
	/*background: linear-gradient(0deg, rgba(126,189,194,1) 32%, rgba(187,68,48,1) 91%);*/
}
#affirmations{
	text-transform': uppercase;
	font-weight':bold;
	color:#231F20;
	font-size: 35px;
}

