nav {
	display: flex;
    height: 105px;
    width: 100%;
    justify-content: flex-end;
}

nav p{
	padding: 10px 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

#AppTitle span{
	text-transform: uppercase;
	font-size: 55px;
	margin-bottom: 15px;
	position: absolute;
	left: 35px;
	top: 0%;
}