#title{
	text-align: center;
	padding: 55px 0;

}

#title h1{
	text-transform: uppercase;
	font-size: 65px;
	margin-bottom: 15px;
}
#title p{
	font-size: 20px;
}
#title span{
	text-transform: uppercase;
	font-weight: bold;
	font-style: italic;
}